
.env
*.env.local
*.env.sample

BackEnd/target/
BackEnd/.mvn/
BackEnd/mvnw
BackEnd/mvnw.cmd
BackEnd/.classpath
BackEnd/.project
BackEnd/.settings/
BackEnd/.factorypath


Front-End-Vue/node_modules/
Front-End-Vue/dist/
Front-End-Vue/.vscode/
Front-End-Vue/*.log
Front-End-Vue/.DS_Store

db_data/
.docker/